<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, ducimus 
            voluptatum iure sint, cumque excepturi dolorem impedit, accusantium nostrum eveniet 
            fugit rem suscipit officia unde consequuntur porro quasi! Consequuntur, laudantium
             cupiditate sit omnis corporis similique molestiae provident maiores facere libero?</p>
    </div>
</div>