<div class="jumbotron-mt-4">
    <h1 class="display-4">Proyecto #3 MM545</h1>
    <p class="lead">Edwin Manuel Martínez</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit nostrum, modi eos quidem
         repudiandae impedit temporibus necessitatibus voluptatibus illum beatae fugiat magnam, 
         tenetur odio facere ipsum explicabo, accusamus hic eius?</p>
    <a href="/productos" class="btn btn-primary btn-lg">Ir a la app</a>
</div>